# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Media and Data files (Do not push heavy videos to GitHub)
*.mp4
*.avi
*.mkv
*.jpg
*.jpeg
*.png
!docs/*.png  # Allow napkin diagrams in the docs folder!
